<div class="col-md-2 col-md-offset-1 whitebackground">
<% #to be updated with chartkick %>
<%= pie_chart(@poll.create_hash_for_chartkick) %>
<button onclick="myFunction(this)" id="moveButton" class="btn btn-primary">Copy share link</button><br/>
<%= label :share,"URL to share: " %>
<input type="text" name="fname" id="myInput"  value=<%= poll_url(@poll.share_token)%> ><br>
</div>
