<div class="grid">
  <div class="row">
    <div id="graph">
  <% if @voted_flag %>
  <%= render 'shared/graph' %>
  <% else %>
 <%= render 'shared/poll' %>
 <%end%>
  </div>
</div>
 <div class="row">
   <div class="col-md-2 col-md-offset-1 newpath ">
<%= link_to "New Poll", new_poll_url ,class: "btn btn-primary buttonfullscreen"%>
</div>
</div>
</div>